@charset "utf-8";

.main_notice_pop {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 104px;
  right: 0;
  left: 0;
  z-index: 9999;
}
.main_notice_pop .pop_con {
  position: relative;
  width: 460px;
  z-index: 1;
}
.main_notice_pop .pop_con .img img {
  width: 100%;
}
.main_notice_pop .pop_con .btns {
  display: flex;
  background: #1d1d1d;
}
.main_notice_pop .pop_con .btns .btn_invisible {
  flex: 1;
  position: relative;
  padding: 10px 0;
  border: none;
  background: #2d2d2d;
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.8px;
}
.main_notice_pop .pop_con .btns .btn_close {
  flex: 1;
  position: relative;
  padding: 10px 0;
  border: none;
  background: #1d1d1d;
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.8px;
}
.main_notice_pop .pop_con .btns button span {
  display: inline-block;
  vertical-align: top;
}

#wrap {
  position: relative;
  overflow: hidden;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 90;
}
#mHeader,
.m_search_wrap,
.m_allmenu_wrap {
  display: none;
}

.head_con {
  display: flex;
  align-items: center;
  max-width: 1920px;
  height: 104px;
  margin: 0 auto;
}
.head_con .logo {
  flex: none;
  position: relative;
  width: 256px;
  height: 48px;
  margin: 0 40px;
}
.head_con .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/logo_black.svg"), url("../images/logo.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -9999px center, center center;
  background-size: contain, contain;
  text-indent: -9999px;
  overflow: hidden;
}

.head_gnb {
  flex: 1;
}

#gnb {
  display: flex;
  justify-content: flex-start;
}
#gnb * {
  letter-spacing: -0.05em;
}
#gnb > li > a {
  display: flex;
  align-items: center;
  position: relative;
  height: 104px;
  padding: 0 40px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
  font-weight: 500;
}
#gnb > li > .depth_box {
  position: absolute;
  top: 0;
  left: -9999px;
  height: 1px;
  margin-top: -1px;
  opacity: 0.01;
  overflow: hidden;
}
#gnb > li > .depth_box .depth_tit {
  padding: 0 32px 12px;
}
#gnb > li > .depth_box .depth_tit .tit {
  padding-left: 8px;
  color: #000742;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
#gnb > li > .depth_box .depth {
  padding: 0 32px;
}
#gnb > li > .depth_box .depth > li > a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 8px 8px 22px;
  border-radius: 10px;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
#gnb > li > .depth_box .depth > li > a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  width: 4px;
  height: 4px;
  background-color: #c6c6c6;
  transform: translateY(-50%) rotate(45deg);
}
#gnb > li > .depth_box .depth > li > a[target="_blank"] {
  padding-right: 32px;
}
#gnb > li > .depth_box .depth > li > a[target="_blank"]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 16px;
  height: 16px;
  background: url(../images/ico_16_blank_black.svg) no-repeat center/contain;
  transform: translateY(-50%);
}
#gnb > li > .depth_box .depth > li > a:hover {
  background-color: rgba(206, 51, 108, 0.05);
}
#gnb > li > .depth_box .depth > li > a:hover::before {
  background-color: #ce336c;
}

#gnb.open:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10000px;
  height: 326px;
  margin-left: -5000px;
  background: #fff;
}
#gnb.open > li > .depth_box {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 292px;
  height: 246px;
  margin: 40px 0;
  border-left: 1px solid #d8d8d8;
  opacity: 1;
}
#gnb.open > li:nth-child(1) > .depth_box {
  margin-left: -584px;
  border-left: none;
}
#gnb.open > li:nth-child(2) > .depth_box {
  margin-left: -292px;
}
#gnb.open > li:nth-child(3) > .depth_box {
  margin-left: 0;
}
#gnb.open > li:nth-child(4) > .depth_box {
  margin-left: 292px;
}
#gnb.open::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  pointer-events: none;
}

.head_util {
  flex: none;
  display: flex;
  align-items: center;
  width: 730px;
  position: relative;
  margin-left: auto;
  height: 104px;
  padding: 0 40px;
  border-bottom-left-radius: 40px;

  z-index: 1;
}
.head_util::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 9999px;
  border-radius: inherit;
  background: #1b3dc5;
  z-index: -1;
  pointer-events: none;
}
.head_util::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: inherit;
  border-radius: 0px 0px 0px 40px;
  background: linear-gradient(120deg, #871a4a -0.14%, #1b3dc5 101.69%);
  z-index: -1;
  pointer-events: none;
}
.drop_wrap {
  flex: none;
  position: relative;
}
.drop_wrap .drop_btn {
  position: relative;
  height: 20px;
  padding: 0 20px 0 2px;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.drop_wrap .drop_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 2px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: url(../images/ico_16_arrow_down_white.svg) no-repeat center/contain;
}
.drop_wrap .drop_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 8px;
  margin-top: 19px;
  border-radius: 8px;
  background-color: #fff;
  transform: translateX(-50%);
}
.drop_wrap .drop_menu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d8d8d8;
  border-radius: inherit;
  z-index: -1;
}
.drop_wrap .drop_menu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 12px;
  margin: 0 0 -1px -10px;
  background: url(../images/bg_drop_arrow.svg) no-repeat center bottom/contain;
}
.drop_wrap .drop_list a {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  border-radius: 6px;
  color: #000;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
}
.drop_wrap .drop_list a:hover {
  background-color: #f0f0f0;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.drop_wrap .active + .drop_menu {
  display: block;
}

.head_util .search_wrap {
  flex: 1;
  position: relative;
  margin: 0 24px;
}
.head_util .search_wrap input[type="text"] {
  width: 100%;
  min-width: 0;
  height: 36px;
  padding: 0 45px 0 19px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  outline: none;
}
.head_util .search_wrap input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}

.head_util .search_wrap input[type="text"]:-ms-input-placeholder {
  color: #fff;
}

.head_util .search_wrap input[type="text"]::placeholder {
  color: #fff;
}
.head_util .search_wrap input[type="text"]:focus {
  background-color: #fff;
  color: #1d1d1d;
}
.head_util .search_wrap input[type="text"]:focus::-webkit-input-placeholder {
  color: #555;
}

.head_util .search_wrap input[type="text"]:focus:-ms-input-placeholder {
  color: #555;
}

.head_util .search_wrap input[type="text"]:focus::placeholder {
  color: #555;
}
.head_util .search_wrap button {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 20px;
  height: 20px;
  background-image: url(../images/ico_20_search_black.svg), url(../images/ico_20_search_white.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -9999px center, center center;
  background-size: contain, contain;
  text-indent: -9999px;
  overflow: hidden;
  transform: translateY(-50%);
}
.head_util .search_wrap input[type="text"]:focus + button {
  background-position: center center, -9999px center;
}

.head_util .btns_wrap {
  flex: none;
  display: flex;
  align-items: center;
}
.head_util .btns_wrap > * {
  transition: 0.2s;
}
.head_util .btns_wrap > *:hover {
  transform: translateY(-4px);
}
.head_util .btns_wrap .btn_sns {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}
.head_util .btns_wrap .btn_sns.ico_instagram {
  background-image: url(../images/ico_40_sns_instagram.svg);
}
.head_util .btns_wrap .btn_sns.ico_youtube {
  background-image: url(../images/ico_40_sns_youtube.svg);
}
.head_util .btns_wrap .btn_sns.ico_x {
  background-image: url(../images/ico_40_sns_x.svg);
}
.head_util .btns_wrap .btn_sns.ico_facebook {
  background-image: url(../images/ico_40_sns_facebook.svg);
}
.head_util .btns_wrap .btn_sns.ico_blog {
  background-image: url(../images/ico_40_sns_blog.svg);
}
.head_util .btns_wrap .btn_sitemap {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  background: url(../images/btn_sitemap.svg) no-repeat center/contain;
  text-indent: -9999px;
  overflow: hidden;
}

/* header hover & white */
#header.hover .head_con::before,
#header.white .head_con::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
}
#header.hover .head_con .logo a,
#header.white .head_con .logo a {
  background-position: center center, -9999px center;
}
#header.hover #gnb > li > a,
#header.white #gnb > li > a {
  color: #1d1d1d;
}

.inner_center {
  position: relative;
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

#container {
  position: relative;
}

/* btn top */
.go_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 170px;
  width: 55px;
  height: 51px;
  border-radius: 8px;
  background: #004bd1;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
  z-index: 70;
}
.go_top:focus,
.go_top:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.go_top.end_top {
  position: absolute;
}

#footer {
  background-color: #f8f8f8;
}
#footer .foot_family_wrap {
  background: #000742;
}
#footer .foot_family {
  display: flex;
}
#footer .foot_family > li {
  border-right: 1px solid #d8d8d8;
}
#footer .foot_family > li:first-child {
  border-left: 1px solid #d8d8d8;
}
#footer .foot_family .nice-select {
  float: none;
  height: 54px;
  min-width: 240px;
  padding: 0 48px 0 24px;
  border: none;
  border-radius: 0;
  background: none;
  color: #fff;
  font-size: 17px;
  line-height: 54px;
  font-weight: 400;
}
#footer .foot_family .nice-select:after {
  position: absolute;
  top: 50%;
  right: 24px;
  border: none;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 0;
  border: none;
  background: url(../images/ico_20_plus_white.svg) no-repeat center/contain;
  transform: none;
  transform-origin: initial;
}
#footer .foot_family .nice-select .list {
  top: auto;
  bottom: 100%;
  margin: 0 0 12px 0;
  padding: 7px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transform: scale(0.75) translateY(56px);
  transition: 0s;
  z-index: 20;
}
#footer .foot_family .nice-select .option {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 2px 16px;
  border-radius: 6px;
  color: #000;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
}

#footer .foot_family .nice-select .option:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
#footer .foot_family .nice-select .option:hover,
#footer .foot_family .nice-select .option.focus,
#footer .foot_family .nice-select .option.selected.focus {
  background-color: #f0f0f0;
}
#footer .foot_family .nice-select.open:after {
  transform-origin: initial;
  transform: rotate(180deg);
}
#footer .foot_family .nice-select.open .list {
  transform: scale(1) translateY(0);
}

#footer .foot_address {
  padding: 26px 0 30px;
}
#footer .foot_address .foot_logo {
  display: block;
  width: 256px;
  height: 48px;
  background: url(../images/logo_black.svg) no-repeat center/contain;
  text-indent: -9999px;
  overflow: hidden;
}
#footer .foot_address .txt_link_box {
  display: flex;
  align-items: flex-start;
  padding-top: 26px;
}
#footer .foot_address .txt_box {
  flex: 1;
  margin-right: 40px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  word-break: keep-all;
}
#footer .foot_address .txt_box .tel {
  margin-top: 16px;
}
#footer .foot_address .txt_box .tel strong {
  margin-right: 4px;
}
#footer .foot_address .link_box li + li {
  margin-top: 15px;
}
#footer .foot_address .link_box li a {
  display: inline-flex;
  align-items: center;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
}
#footer .foot_address .link_box li a::after {
  content: "";
  width: 20px;
  height: 20px;
  margin: 0 2px 0 4px;
  background-image: url(../images/ico_20_arrow_right_blue.svg), url(../images/ico_20_arrow_right_black.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -9999px center, center center;
  background-size: contain, contain;
}
#footer .foot_address .link_box li a:hover {
  color: #004bd1;
}
#footer .foot_address .link_box li a:hover::after {
  background-position: center center, -9999px center;
}
#footer .foot_link_copyright {
  padding: 18px 0 20px;
  border-top: 1px solid #d8d8d8;
}
#footer .foot_link {
  display: flex;
}
#footer .foot_link li {
  margin-right: 26px;
}
#footer .foot_link li a {
  font-size: 17px;
  line-height: 26px;
}
#footer .foot_link li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
#footer .foot_link li a.active {
  font-weight: 700;
}
#footer .copyright {
  margin-top: 16px;
  color: #555;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

@media screen and (max-width: 1720px) {
  .head_con .logo {
    margin: 0 1vw 0 24px;
  }
  #gnb > li > a {
    padding: 0 1vw;
    font-size: 18px;
  }
  .head_util {
    width: 590px;
    padding: 0 24px;
  }
  .head_util .search_wrap {
    margin: 0 12px;
  }
  .head_util .btns_wrap .btn_sitemap {
    margin-left: 12px;
  }
}

@media screen and (max-width: 1279px) {
  .main_notice_pop {
    top: 64px;
  }
  .main_notice_pop .pop_con {
    position: absolute;
    left: 50%;
    width: 460px;
    margin-left: -230px;
  }

  #wrap {
    min-width: 100%;
  }
  #skip_nav {
    display: none;
  }
  #header {
    display: none;
  }
  #mHeader {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    padding-left: 35px;
    z-index: 90;
  }
  #mHeader::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: transparent;
    pointer-events: none;
  }
  #mHeader .logo {
    width: 170px;
    height: 32px;
  }
  #mHeader .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/logo_black.svg"), url("../images/logo.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -9999px center, center center;
    background-size: contain, contain;
    text-indent: -9999px;
    overflow: hidden;
  }
  #mHeader .btns {
    display: flex;
    align-items: center;
    position: relative;
    height: 64px;
    padding: 0 16px;
    margin-left: auto;
    border-bottom-left-radius: 24px;
    border-radius: 0px 0px 0px 24px;
    background: linear-gradient(120deg, #871a4a -0.14%, #1b3dc5 101.69%);
  }
  #mHeader .btns .btn_search {
    width: 32px;
    height: 32px;
    background: url(../images/ico_32_search_white.svg) no-repeat center/contain;
    text-indent: -9999px;
    overflow: hidden;
  }
  #mHeader .btns .btn_allmenu {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    background: url(../images/ico_32_menu_white.svg) no-repeat center/contain;
    text-indent: -9999px;
    overflow: hidden;
  }

  .m_search_wrap {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 64px;
    right: 0;
    left: 0;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 89;
  }
  .m_search_wrap .search_container {
    flex: 1;
    max-width: 310px;
    position: relative;
  }
  .m_search_wrap .search_container input[type="text"] {
    width: 100%;
    min-width: 0;
    height: 47px;
    padding: 0 48px 0 16px;
    border: none;
    border-radius: 16px;
    background-color: #f0f0f0;
    color: #1d1d1d;
    font-size: 15px;
    font-weight: 400;
  }
  .m_search_wrap .search_container button {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 20px;
    height: 20px;
    background: url(../images/ico_20_search_black.svg) no-repeat center/contain;
    text-indent: -9999px;
    overflow: hidden;
    transform: translateY(-50%);
  }
  .m_search_wrap .btn_close {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    background: url(../images/ico_24_close_black.svg) no-repeat center/contain;
    text-indent: -9999px;
    overflow: hidden;
  }

  .m_allmenu_wrap {
    display: block;
  }
  .m_allmenu_wrap .m_allmenu_mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    opacity: 0;
    transition: width 0.2s 0.2s, opacity 0.2s;
  }
  .m_allmenu_wrap .m_allmenu_cont {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 390px;
    height: 100%;
    background: #fff;
    z-index: 100;
    transform: translateX(101%);
    transition: 0.2s;
  }
  .m_allmenu_head {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid #d8d8d8;
  }
  .m_allmenu_head .sel_lang {
    flex: none;
    width: 94px;
    height: 24px;
    padding: 0 22px 0 4px;
    border: none;
    background: url(../images/ico_16_arrow_down_black.svg) no-repeat right 4px center/16px;
    color: #1d1d1d;
    font-size: 15px;
    font-weight: 400;
    outline: none;
  }
  .m_allmenu_head .sns_links {
    display: flex;
    margin-left: 8px;
  }
  .m_allmenu_head .sns_links .btn_sns {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
  }
  .m_allmenu_head .sns_links .btn_sns.ico_instagram {
    background-image: url(../images/ico_40_sns_instagram_gray.svg);
  }
  .m_allmenu_head .sns_links .btn_sns.ico_youtube {
    background-image: url(../images/ico_40_sns_youtube_gray.svg);
  }
  .m_allmenu_head .sns_links .btn_sns.ico_x {
    background-image: url(../images/ico_40_sns_x_gray.svg);
  }
  .m_allmenu_head .sns_links .btn_sns.ico_facebook {
    background-image: url(../images/ico_40_sns_facebook_gray.svg);
  }
  .m_allmenu_head .sns_links .btn_sns.ico_blog {
    background-image: url(../images/ico_40_sns_blog_gray.svg);
  }
  .m_allmenu_head .btn_close {
    width: 24px;
    height: 24px;
    margin-left: auto;
    background: url(../images/ico_24_close_black.svg) no-repeat center/contain;
    text-indent: -9999px;
    overflow: hidden;
  }

  .m_allmenu {
    position: relative;
    height: calc(100vh - 64px);
    overflow-y: auto;
  }
  .m_allmenu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 140px;
    background: #f8f8f8;
    border-right: 1px solid #d8d8d8;
  }
  .m_allmenu .m_gnb {
    width: 140px;
  }
  .m_allmenu .m_gnb > li > a {
    display: flex;
    align-items: center;
    position: relative;
    height: 58px;
    padding-left: 24px;
    border-bottom-right-radius: 16px;
    color: #1d1d1d;
    font-weight: 700;
  }
  .m_allmenu .m_gnb > li > a span {
    position: relative;
    font-size: 17px;
    line-height: 26px;
  }
  .m_allmenu .m_gnb > li > a.active {
    background: linear-gradient(120deg, #871a4a -0.14%, #1b3dc5 101.69%);
    color: #fff;
  }

  .m_allmenu .m_gnb .depth_box {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 140px;
    background: #fff;
  }
  .m_allmenu .m_gnb > li > a.active + .depth_box {
    display: flex;
  }
  .m_allmenu .m_gnb .depth_box .depth_tit {
    flex: none;
    margin: 0 16px;
    padding: 19px 8px;
    border-bottom: 1px solid #d8d8d8;
    color: #1d1d1d;
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
  }
  .m_allmenu .m_gnb .depth_box .depth {
    padding: 8px 16px;
    border-bottom: 1px solid #d8d8d8;
    overflow-y: auto;
  }
  .m_allmenu .m_gnb .depth_box .depth > li > a {
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    color: #1d1d1d;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
  }
  .m_allmenu .m_gnb .depth_box .depth > li > a:hover {
    background-color: #fcf4f7;
  }
  .m_allmenu .m_gnb .depth_box .depth > li > a[target="_blank"] {
    padding-right: 44px;
  }
  .m_allmenu .m_gnb .depth_box .depth > li > a[target="_blank"]::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 16px;
    height: 16px;
    background: url(../images/ico_16_blank_black.svg) no-repeat center/contain;
    transform: translateY(-50%);
  }

  .openSearch #mHeader {
    background-color: #fff;
  }
  .openSearch #mHeader::before {
    background-color: #d8d8d8;
  }
  .openSearch #mHeader .logo a {
    background-position: center center, -9999px center;
  }
  .openSearch .m_search_wrap {
    display: flex;
  }

  .openAllMenu {
    overflow: hidden;
  }
  .openAllMenu .m_allmenu_wrap .m_allmenu_mask {
    width: 100%;
    opacity: 1;
    transition: width 0s, opacity 0.3s;
  }
  .openAllMenu .m_allmenu_wrap .m_allmenu_cont {
    transform: translateX(0);
  }

  /* header white */
  #mHeader.hover,
  #mHeader.white {
    background-color: #fff;
  }
  #mHeader.hover::before,
  #mHeader.white::before {
    background-color: #d8d8d8;
  }
  #mHeader.hover .logo a,
  #mHeader.white .logo a {
    background-position: center center, -9999px center;
  }

  .inner_center {
    padding: 0 35px;
  }

  #container {
  }

  .go_top {
    right: 0;
    bottom: 160px;
  }

  .t_br {
    display: block;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .main_notice_pop {
    top: 64px;
  }
  .main_notice_pop .pop_con {
    right: 16px;
    left: 16px;
    width: auto;
    margin-left: 0;
  }

  .mobile_br {
    display: block;
  }

  #wrap {
    min-width: 360px;
  } /* 디바이스별 변경가능 */

  #mHeader {
    padding-left: 16px;
  }

  .m_allmenu_head {
    padding: 0 16px;
  }

  .inner_center {
    padding: 0 16px;
  }

  .mobile_br {
    display: block;
  }

  #container {
  }

  .go_top {
    bottom: 113px;
    width: 51px;
    height: 49px;
    font-size: 14px;
    line-height: 17px;
  }

  .foot_family_wrap .inner_center {
    padding: 0;
  }
  #footer .foot_family {
    flex-direction: column;
  }
  #footer .foot_family > li {
    border-right: none;
    border-top: 1px solid #d8d8d8;
  }
  #footer .foot_family > li:first-child {
    border-left: none;
  }
  #footer .foot_family .nice-select .list {
    margin-bottom: 6px;
  }
  #footer .foot_address {
    padding: 32px 0;
  }
  #footer .foot_address .txt_link_box {
    flex-direction: column;
    padding-top: 32px;
  }
  #footer .foot_address .txt_box {
    flex: none;
    margin-right: 0;
  }
  #footer .foot_address .txt_box .tel {
    margin-top: 24px;
  }
  #footer .foot_address .link_box {
    margin-top: 32px;
  }
  #footer .foot_link_copyright {
    padding: 8px 0 16px;
  }
  #footer .foot_link {
    flex-wrap: wrap;
  }
  #footer .foot_link li {
    margin: 16px 16px 0 0;
  }
  #footer .copyright {
    margin-top: 24px;
  }
}
